.banner {
    background: #f0f0f0;
    position: relative;
}

.banner_box {
    min-height: 130px;
    position: relative;
    font-size: 80px;
    line-height: 80px;
    text-align: center;
    font-weight: bold;
    padding: 20px 15px 0;
    color: #fff;
    cursor : pointer;
}

.banner .accept {
    background: #fb6f03;
}

.banner .decline {
    background: #8a8683;
}

.bouncebanner-content {
    background-color: white;
    position: fixed;
    z-index: 801;
    overflow: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
    pointer-events: none;
    transform: translate(0%, 0%);
    overflow-y: auto;
    border-color: black;
    border-style: groove;
/*    border-bottom-width: 15px;*/
/*    border-top-width: 20px;*/
/*    border-left-width: 15px;*/
/*    border-right-width: 5px;*/
}
.bouncebanner-content.active {
    top: 60%     !important;
    left: 50%     !important;
    bottom: inherit;
    width: 55%  !important;
    min-height: 65%  !important;
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    background: ghostwhite;
}
@media (min-width: 600px) {
    .bouncebanner-content.active {
        width: 55% !important;
        top: 60%          !important;
        left: 50%         !important;
        bottom: inherit;
        min-height: 65% !important;
        transform: translate(-50%, -50%);
        opacity: 1;
        background: ghostwhite;
    }
}

.bouncebanner-header {
    min-height: 16px;
    border-bottom: 1px solid #e5e5e5;
    background: white;
    position: absolute;
    width: 100%;
}

.banner_image {
    width: 90px;
}

.bouncebanner-cascade {
    background: ghostwhite;
}

.bouncebanner-modal-active::before {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    content: '';
    z-index: 800;
    transition: opacity .5s .2s;
    opacity: 1;
    pointer-events: auto;
}

.dialog-close {
    top: 0;
    right: 0;
    background: none;
    border: none;
    position: absolute;
}

.bouncebanner-subscribe {
    padding: 10px 10px 10px 10px;
    width: 90%;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: inset 0 -3px 0 rgba(0,0,0,0.2);
}

.bouncebanner-email {
    border: 1px solid #ddd;
    width: 90%;
    padding: 12px 10px 12px 28px;
    display: initial;
}

.bouncebanner-logo {
    text-decoration: none;
    color: rgb(143,143,143);
    font-family: Lato, Arial, sans-serif;
    font-size: 85%;
}
.bouncebanner-logo-app {
    color: #a24689;
}
